*{
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
}
header{
  width: 100%;
  height: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #072E33;
 position: fixed;
}
.nav-links {
  display: flex;
}
li{
  list-style: none;
}
.nav-links a{
  color: #FFFFFF;
  padding-right: 80px;
  text-decoration: none;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links a:hover{
  color: #5EF3E6;
}

header img{
  width: 300px;
  padding-top: 40px;
  padding-left: 50px;
}   
body{
  background-color: #0F0F0F;
}
button{
  width: 210px;
  height: 50px;
  border-radius: 15px;
  background-color: #04F88E;
  color:#FFFFFF;

 font-size: 15px;
 border-color: #04F88E;
 box-shadow: 0px 3px #9aa5a5;
 
} 
button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
 
}
.contain{
  width: 330px;
  margin: 70px;
  height: 350px;
  padding: 20px;
  background-color: #D9D9D9;
  border-radius: 10px;

  box-shadow: 5px 8px #333535;
  margin-top: 250px;
}
.contain:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.Country{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  opacity: 50%;
  border: 3px solid black;
  box-shadow: 0px 3px #9aa5a5;
  
}
h2{
  padding-bottom: 20px;
  font-size: 30px;
}
.hatdog{
  padding-left: 30px;
}
 p{
  color: rgb(101, 54, 54);
  transform: translateY(-65px);
  padding-left: 140px;
  opacity: 50%;
}
.hays{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  opacity: 50%;
  border: 3px solid black;
  box-shadow: 0px 3px #9aa5a5;
}
button{
  width: 210px;
  height: 50px;
  border-radius: 15px;
  background-color: #04F88E;
  color:#FFFFFF;
 opacity: 90%;
 font-size: 15px;
 border-color: #04F88E;
 box-shadow: 0px 3px #9aa5a5;
 cursor: pointer; 

}
.x a{
  text-decoration: none;
  font-size: 20px;
  float: right;
  color: black;
}
.butto{
  padding-left: 60px;
 
}
::placeholder{
  padding-left: 5px;
}
.hamburger .line {
  width: 35px;
  height: 3px;
  background-color: #5EF3E6;
  margin: 4px 0;
  border-radius: 10px;
  margin-right: 20px;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
      position: absolute;
      top: 80px;
      right: 0;
      height: 70vh;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #072E33;
      transform: translateY(-150%);
      transition: transform 0.3s ease;
  }

  .nav-links.show {
      transform: translateX(0%);
  }

  .hamburger {
      display: flex;
      width: 40px;
      margin-right: 20px;
  }

  .nav-links li {
      margin: 20px 0;
      margin-left: 65%;
  }
}
@media only screen and (max-width: 768px) {
 
  header {
      height: 80px;
      padding: 0 15px ;
  }

  header img {
      width: 170px;
      height: 100px;
      margin-bottom: 12px;
      margin-left: -35px;
  }


  .navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      background-color: #072E33;
  }

  .navbar.active {
      display: flex;
  }

 
  .menu-toggle {
      display: flex;
  }

  .navbar a {
      padding: 15px 0;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 1.8rem;
      border-bottom: 1px solid #5EF3E6; /
      }
      .navbar a:hover {
          background-color: #5EF3E6;
          color: #072E33;
      }
    }